h1{
	color: red;
	font-family: Arial;
	text-align: center;
	text-decoration: underline;
	font-size: larger;


}
h2 {
	color: red;
	font-family: Arial;
}
html{
	background-color: silver;
}

ul{
	color: green;
	background-color: greenish;
	list-style-type: lower-roman;
	

}
dl{
	background-color: white;
}
pre{
	font-size: 20pt;
	font-weight: bold; 
	;
}	color: navy;

}

