h1{
	color: red;
	font-family: Arial;
	text-align: center;
	text-decoration: underline

}
h2 {
	color: red;
	font-family: Arial;
}
html{
	background-color: aqua;
}

ul{
	color: green;
	background-color: greenish;
	list-style-type: lower-roman;
}
dl{
	background-color: white;
}
pre{
	font-size: 20pt;
	font-weight: bold;
	;
}

